# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist/

# Profile
.rspack-profile-*/

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# Python
.venv/
__pycache__/
*.pyc
env/
env.bak/
venv.bak/
venv/

staticfiles/
static/
templates/*
re_migrate_db
bank_reserve_predict_model.pkl
db.sqlite3